.hamburger {
  --span-size: 8px;

  position: relative;
  width: calc(var(--span-size) * 5 * 1.25);
  height: calc(var(--span-size) * 5);
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  & span {
    display: block;
    position: absolute;
    height: var(--span-size);
    width: 100%;
    background: var(--color--primary-1);
    border-radius: var(--span-size);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: calc(var(--span-size) * 2);
    }

    &:nth-child(4) {
      top: calc(var(--span-size) * 4);
    }
  }

  &[opened="true"] span {
    &:nth-child(1) {
      top: calc(var(--span-size) * 2);
      left: 50%;
      width: 0%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: calc(var(--span-size) * 2);
      left: 50%;
      width: 0%;
    }
  }
}
